
@{
    ViewBag.Title = "Fail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container py-xl-4 py-lg-2">
    <h2 class="ml-4 text-danger">
        <div id="#gif-success"><img src='/Data/images/Com/sad.gif' alt='loading...' /></div>
        Đặt hàng thất bại
    </h2>
</div>