
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container py-xl-4 py-lg-2">
    <div id="#gif-success"><img src='/Data/images/Com/success.gif' alt='loading...' /></div>
    <h2 class="ml-4 text-success">
        Đặt hàng thành công
    </h2>
</div>

